@model CollegeMap.Models.CollegeMapModels.College

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>College</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Highest Degree Offered
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HighestDegreeOffered.Name)
        </dd>
        <dt>
            College Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualTuition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnualTuition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualRoomAndBoard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnualRoomAndBoard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
