@model CollegeMap.Models.CollegeMapModels.College

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>College</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Highest Degree Offered
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HighestDegreeOffered.Name)
        </dd>
        <dt>
            College Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enrollment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PercentWhite)
        </dt>
        <dd>
            @if (Model.PercentWhite == 0)
            {
                <text>N/A</text>

            }
            else
            {
                @Html.DisplayFor(model => model.PercentWhite)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcceptanceRate)
        </dt>
        <dd>
            @if (Model.AcceptanceRate == 0)
            {
                <text>N/A</text>

            }
            else
            {
                @Html.DisplayFor(model => model.AcceptanceRate)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GraduationRate)
        </dt>
        <dd>
            @if (Model.GraduationRate == 0)
            {
                <text>N/A</text>

            }
            else
            {
                @Html.DisplayFor(model => model.GraduationRate)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualTuition)
        </dt>
        <dd>
            @if (Model.AnnualTuition == 0)
            {
                <text>N/A</text>

            }
            else
            {
                @Html.DisplayFor(model => model.AnnualTuition)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualTuitionOut)
        </dt>
        <dd>
            @if (Model.AnnualTuitionOut == 0)
            {
                <text>N/A</text>

            }
            else
            {
                @Html.DisplayFor(model => model.AnnualTuitionOut)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgNetPrice)
        </dt>
        <dd>
            @if (Model.AvgNetPrice == 0)
            {
                <text>N/A</text>

            }
            else
            {
                @Html.DisplayFor(model => model.AvgNetPrice)
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.Website)">@Html.DisplayFor(model => model.Website)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
    </dl>
</div>
